#showcase {
    background-image: url("../images/exia.jpg");
    background-position: center 0%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    margin-bottom: 30px;
    text-align: center;
  }

