#showcase {
  background-image: url("../images/Barbatos.jpg");
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  margin-bottom: 30px;
  text-align: center;
}

#main {
  float: left;
  width: 65%;
  padding: 0 30px;
  box-sizing: border-box;
}

.main-3 h1 {
  float: left;
  width: 20%;
  padding: 0 30px;
  box-sizing: border-box;
}

.button {
  background-color: blue;
  font-family: PlavskyBold;
  color: black;
  padding: 10px 15px;
  border: none;
  transition: all 1s;
}

.button:hover {
  background: red;
  color: black;
}

.my-form {
  padding: 20px;
}

.my-form .form-group {
  padding-bottom: 15px;
}

.my-form label {
  display: block;
}

.my-form input[type="text"],
.my-form textarea {
  padding: 8px;
  width: 50%;
}

form {
  margin: 10px;
  margin-top: 20px;
}

form label {
  display: block;
  margin: 5px 0;
}

form input[type="text"],
input[type="email"] {
  padding: 7px 1px;
  margin: 3px 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea[name="message"] {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 7px 1px;
  margin: 3px 0;
  width: 65%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

